# Directories
documentation/

# Program files
Chesster/imgui.ini
Chesster/Chesster.log
Chesster/validmoves.txt

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
bin-int/

# Visual Studio 2015/2017 cache/options directory
.vs/
